name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Run Release Please
        uses: googleapis/release-please-action@v4
        with:
          # This workflow uses the default GITHUB_TOKEN for authentication.
          # A Personal Access Token (PAT) is only required if you want the
          # release pull request to trigger other workflows.
          token: ${{ secrets.GITHUB_TOKEN }}
          # This is a built-in strategy in release-please for node projects.
          release-type: node
